body {
    font-family: "Poppins", sans-serif;
    height: 100%;
}

.popcontainer{
    display: block;
    /* justify-content: center;
    align-items: center; */
    width:90%;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-image: url("../assets/spaghetti-bolognese-recipe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.poptitle{
    color: #DC582A;
    font-weight:700;
    font-style: normal;
}
.popfoodname{
    color:white;
    position: absolute;
    top: 25%;
    font-weight:800;
    font-style: normal;
}
.categorycontainer{
    width: 90%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.categorytitle{
    width: 18%;
    height: 86px;
    background-color: orange;
    text-align: left;
    padding-left: 20px;
    border-radius: 15px;
    color: white;
    border-width: 0px;
    font-weight: 600;
}
#c1{
    background-color: #FDC040;
}
#c2{
    background-color: #ED8B00;
}
#c3{
    background-color: #5FCCB2;
}
#c4{
    background-color: #F6784C;
}
#c5{
    background-color: #AD343E;
}


.menucontainer{
    display:flex;
    flex-direction: row;
    margin-top: 40px;
    width:70%;
    height:350px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    
}

.foodcontainer{
    width: 27%;
    height: 315px;
    box-shadow: 0 0 10px gray; 
    border-radius: 15px;
}
.foodbutton{
    width: 100%;
    border-width: 0;
    margin-top: 5px;
    background-color: transparent;
}
.foodimg{
    width: 100%;
    display: block;
    height:200px;
    border-radius: 15px;
}
.fooddetail{
    
}

.fooddetailnamecontainer{
    flex: 1;
    padding-left: 10px;
}
.fooddetailname{
    color:black;
    font-size: 15px;
    margin: 0;
}
.icon{
    flex:1;
    display: flex;
    justify-content:flex-end;
    margin:0;
    padding-right: 10px;
}
.love{
    margin:0;
    border-width: 0;
    background-color: transparent;
    
}
.chat{
    margin:0;
    border-width: 0;
    background-color: transparent;
    
}
.fooddetailtime{
    color:#DC582A;
    font-size: 15px;
    margin:0;
}
.fooddetailtimecontainer{
    flex:1;
    padding-left: 10px;
    margin-top: 5px;
}

.fooddetail img{
    width: 15px;
    height: 15px;
    
}.rating{
    color:lightgray;
    margin: 0;
}
.calorie{
    color: lightgray;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.d1{
    display: flex;
    flex-direction: row;
}


