body {
    font-family: "Poppins", sans-serif;
    height: 100%;
}

.popcontainer{
    display: block;
    /* justify-content: center;
    align-items: center; */
    width:90%;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-image: url("../assets/spaghetti-bolognese-recipe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.poptitle{
    color: #DC582A;
    font-weight:700;
    font-style: normal;
}
.popfoodname{
    color:white;
    position: absolute;
    top: 25%;
    font-weight:800;
    font-style: normal;
}
.categorycontainer{
    width: 90%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.categorytitle{
    width: 18%;
    height: 86px;
    background-color: orange;
    text-align: left;
    padding-left: 20px;
    border-radius: 15px;
    color: white;
    border-width: 0px;
    font-weight: 600;
}
#c1{
    background-color: #FDC040;
}
#c2{
    background-color: #ED8B00;
}
#c3{
    background-color: #5FCCB2;
}
#c4{
    background-color: #F6784C;
}
#c5{
    background-color: #AD343E;
}